@import 'base';

@accentColor: #3ac0ff;
@placeholderColor: rgba(255, 0, 255, 0.25);
@headerHeight: 150px;

@primaryTextSubColor: hsl(0, 0%, 50%);
#artwork {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

body {
  color: @primaryTextColor;
}

header {
  padding: 0 100px;
  height: @headerHeight;
  display: flex;
}

#header_items {
  padding: 20px;
  display: flex;

}

#logo {
}

.fill {
  flex: 1;
}

.header_item {
  margin: 0 20px;
  width: 193px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 18pt;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

}

.header_item_label {
  display: inline;
  text-align: center;
  color: white;
  transition: 200ms;
}

.header_item_label:hover {
  padding: 0 0 5px 0;
  border-bottom: @accentColor 5px solid;
  border-radius: 2.5px;
}

#hero {
  .section;
  display: flex;
  top: 200px;
  flex-flow: column;
  justify-content: center;
  padding: 200px 0;
  text-align: center;
}

.hero_title {

  font-size: 32pt;
  font-weight: bolder;
  margin: 15px auto;
}

#hero_subtitle {
  color: @primaryTextSubColor;
  font-size: 16pt;
}

#hero_title_content {
  margin: 20px;
}

.button {
  margin: 30px auto;
  display: inline-block;
  font-weight: bolder;
  font-size: 16pt;
  padding: 10px 50px;
  background: @primaryTextColor;
  border-radius: 30px;
  cursor: pointer;
}

#hero_contact_button {
  .button;
  margin-top: 75px;
  color: @primaryColor;
}

.section {
  position: absolute;
  left: 0;
  right: 0;
  //padding: 200px 0;
}

.section_title {
  margin: 0 auto 50px auto;
  width: fit-content;
  alignment: center;
  font-size: 32pt;
  font-weight: bolder;
  padding-bottom: 20px;
  border-bottom: 5px solid @primaryTextSubColor;
  border-radius: 2.5px;
}

#about_us {
  .section;
  top: 950px;
  padding: 300px 0 200px 0;
  text-align: center;
  color: @primaryColor;
}

#about_us_title {
  .section_title

}

#about_us_gallery {
  display: flex;
  justify-content: center;
}

.about_us_item {
  margin: 0 50px;
  width: 300px;
}

.about_us_item_description {
  color: @primaryTextSubColor;
}

@aboutUsItemIconSize: 150px;
.about_us_item_icon {
  margin: 0 auto;
  height: @aboutUsItemIconSize;
  width: @aboutUsItemIconSize;
}

#the_team {
  .section;
  top: 2000px;
  color: @primaryColor;
  padding: 200px 0;

}

#content {
  height: 5400px;
  background: url("../images/bg_v2.svg") no-repeat center;
  background-size: cover;
}

#the_team_title {
  .section_title;
  margin: 0 auto;
  text-align: center;
}

.the_team_gallery {
  display: flex;
  justify-content: center;
}

.team_item_border {
  border: #79e6fe solid 3px;
  background: white;

}

@teamItemHeight: 250px;
@teamItemWidth: 450px;
.team_item {
  .team_item_border;
  display: block;
  border-radius: 25px;
  width: @teamItemWidth;
  height: @teamItemHeight;
  margin: 50px;
}

.team_item_wrapper {
  position: absolute;
  width: @teamItemWidth;
  height: @teamItemHeight;
}

.team_item_content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  padding: 25px 25px 25px ((@teamItemCircleSize/2)+25px);
}

.team_item_label {
  margin: 0;
}

@teamItemCircleSize: 150px;
@teamItemIconSize: 100px;
@teamItemIconMargin: (@teamItemCircleSize - @teamItemIconSize)/2;
.team_item_icon {
  position: absolute;
  left: @teamItemIconMargin;
  top: @teamItemIconMargin;
  width: @teamItemIconSize;
  height: @teamItemIconSize;
}

.team_item_circle {
  .team_item_border;
  position: absolute;
  left: @teamItemCircleSize / -2;
  top: (@teamItemHeight - @teamItemCircleSize)/2;
  width: @teamItemCircleSize;
  height: @teamItemCircleSize;
  z-index: 1;
  border-radius: @teamItemCircleSize / 2;
}

#our_work {
  .section;
  top: 3300px;
  padding: 200px 0;
  height: 200px + @ourWorkCarouselHeight;
}

#our_work_title {
  .section_title;
  text-align: center;
  color: @primaryColor;
}

#our_work_items {
  display: flex;
  justify-content: center;
}

@ourWorkCarouselHeight: 400px;
#our_work_carousel {
  position: absolute;
  margin: 50px 0;
  height: @ourWorkCarouselHeight;
  left: 0;
  right: 0;
}

@ourWorkCarouselHandleWidth: 200px;
.our_work_carousel_handle {
  position: absolute;
  background: @placeholderColor;
  width: @ourWorkCarouselHandleWidth;
  top: 0;
  bottom: 0;
}

#our_work_carousel_left_handle {
  .our_work_carousel_handle;
  left: 0;
}

#our_work_carousel_right_handle {
  .our_work_carousel_handle;
  right: 0;
}

#our_work_carousel_content {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 50px;
  left: @ourWorkCarouselHandleWidth;
  right: @ourWorkCarouselHandleWidth;
}

.our_work_button {
  .button;
  cursor: default;
  margin: 0 25px;
  color: @orangeAccent;
}

.carousel_item {
  display: flex;
  height: 500px;
  width: 80%;
  margin: auto 100px;
}

.carousel_item_info {
  display: flex;
  flex-flow: column;
  padding: 0 50px;
  margin-bottom: 50px;
}

.carousel_item_title {
  margin: 0;
  color: @primaryColor;
}

.carousel_item_description {
  margin: 0;
  font-weight: bold;
  color: @primaryColor;
}

.carousel_item_thumbnail {
  width: 800px;
  background: #6183be;
  background-size: cover;
  border-radius: 25px;
}

.carousel_item_subtitle {
  color: @orangeAccent;
  margin: 8px 0 16px 0;
}

.carousel_item_content {
  display: flex;
  justify-content: start;
  flex-flow: column;
  width: 300px;
}

.carousel_item_button {
  .button;
  color: @primaryColor;
}

#contact {
  .section;
  top: 5000px;
  text-align: center;

}

#contact_content {
  margin: auto;
  display: flex;
  width: fit-content;
  justify-content: center;

}

#contact_title {
  .section_title;
  border: none;
  margin: 0 auto;
  text-align: center;
  color: @primaryTextColor;
}

.contact_input {
  background: white;
  padding: 10px;
  text-align: left;
  margin: 25px 0;
  font-weight: bold;
  color: @primaryColor;
  border-radius: 25px;
}

.contact_input_large {
  .contact_input;
  height: 200px;
}

.contact_socials {
  width: 64px;
  height: 64px;
  margin: 30px;
  color: red;
}